.ev-heading-divider {
  margin-top: 10px;
  font-size: 0;
  line-height: 1;
}

.ev-heading-divider:before {
  display: inline-block;
  content: "";
  width: 66px;
  height: 3px;
  background: #ae152d;
}

.ev-data {
  text-align: center;
  z-index: 1;
  position: relative;
}

.ev-heading {
  font-weight: 700;
  font-family: "Butler", "Baskerville-Serial-ExtraBold";
}

.ev-body {
  padding: 40px;
}

.ev-item-img {
  padding: 0px;
  max-height: 480px;
  height: 100%;
}

.ev-item-img img {
  width: 100%;
  height: 100%;
}

.ev-body .first {
  height: 480px;
  max-width: 43rem !important;
  overflow: hidden;
}

.ev-body .first a {
  left: 0;
  max-width: 43rem;
}

.ev-body .sub a {
  left: 0;
  max-width: 43rem;
  width: 100%;
  height: 15rem;
}

.img-gradient-sub {
  height: 70%;
}

@media (max-width: 1280px) {
  .container {
    max-width: 100% !important;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 100% !important;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100% !important;
  }
  figure.sub.relative.max-w-2xl.transition-all.duration-300.cursor-pointer {
    height: 30rem;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 100% !important;
  }
}

.event-start-date {
  margin: 5px 0 25px;
}

.event-start-date span {
  display: inline-block;
  background: #ae152d;
  color: #fff;
  line-height: 26px;
  padding: 3px 15px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.event-title {
  font-size: 30px;
  line-height: 1.47;
  min-height: 0;
  margin-bottom: 15px;
  color: #fff;
  font-family: Butler;
  font-weight: 500;
  letter-spacing: 0em;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.event-meta {
  margin: 20px 0 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.event-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 26px;

  margin: 0 -11px;
}

.event-meta .meta-item {
  margin: 6px 0 0;
}

.event-time {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 26px;
  margin: 26px 0 0;

  font-family: Gordita;
  font-weight: 400;
  letter-spacing: 0em;
}

.img-gradient img {
  width: 100%;
  height: 100%;
}

.img-gradient-sub img {
  width: 100%;
  height: 100%;
  position: relative;
}
.img-gradient-sub {
  overflow: hidden;
}

.img-gradient {
  max-width: 100%;
  width: 800px;
  margin: auto;
}

.img-gradient::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to top,
    #000000 0,
    rgba(255, 255, 255, 0) 80%
  );
  height: 480px;
  width: 100%;
  content: "";
}

.ev-text-btm {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.event-title-sub {
  font-size: 20px;
  line-height: 1.47;
  min-height: 0;
  margin-bottom: 15px;
  color: #000000;
  font-family: Butler;
  font-weight: 500;
  letter-spacing: 0em;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ev-text-btm-sub {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 30%;
}

.meta-item-sub {
  color: #696969;
  margin: 6px 0 0;
}

@media (max-width: 1023px) {
  .img-gradient {
    max-width: 100%;
    width: 910px;
    margin: auto;
  }
  .ev-body .first {
    height: 480px;
    max-width: 100% !important;
    overflow: hidden;
  }
  .ev-body .first a {
    left: 0;
    max-width: 100%;
  }
  .ev-hero-btns {
    padding-top: 80px !important;
  }
}

.ev-hero-btns {
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  max-width: 260px;
  position: relative;
}

.ev-hero-btns .ev-red {
  font-family: Gordita;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0em;
  padding: 1rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: none;
  background-color: #ae152d !important;
}

.ev-hero-btns .ev-red:hover {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0em;
  padding: 1rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: none;
  background-color: #111111 !important;
}

@media (max-width: 768px) {
  .ev-hero-btns {
    padding-top: 15px !important;
  }
  figure.sub.relative.max-w-2xl.transition-all.duration-300.cursor-pointer {
    height: 100%;
  }
  .ev-text-btm-sub {
    height: 40%;
    max-height: 11rem;
  }
  .img-gradient-sub {
    height: 70%;
    max-height: 15rem;
  }
  figure.sub.relative.max-w-2xl.transition-all.duration-300.cursor-pointer {
    height: 25rem;
  }
}

@media (max-width: 767px) {
  .ev-hero-btns {
    padding-top: 15px !important;
  }
  figure.sub.relative.max-w-2xl.transition-all.duration-300.cursor-pointer {
    height: 100%;
  }
  .ev-text-btm-sub {
    height: 30%;
  }
  .img-gradient-sub {
    height: 70%;
    max-height: max-content;
  }
}

@media (max-width: 640px) {
  figure.sub.relative.max-w-2xl.transition-all.duration-300.cursor-pointer {
    height: 100%;
    margin-bottom: 8rem;
  }
  .ev-body .first {
    height: 300px;
    max-width: 100% !important;
    overflow: hidden;
  }
  .event-title {
    font-size: 20px !important;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media (max-width: 440px) {
  figure.sub.relative.max-w-2xl.transition-all.duration-300.cursor-pointer {
    height: 280px !important;
    margin-bottom: 4rem;
  }
}

figure.sub.relative.max-w-2xl.transition-all.duration-300.cursor-pointer {
  height: 100%;
}
