.ev-heading {
  font-weight: 700;
  font-family: "Butler", "Baskerville-Serial-ExtraBold";
}

.event-title {
  font-size: 30px;
  line-height: 1.47;
  min-height: 0;
  margin-bottom: 15px;
  color: #fff;
  font-family: Butler;
  font-weight: 500;
  letter-spacing: 0em;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ev-hero-btns {
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  max-width: 260px;
  position: relative;
}

.ev-hero-btns .ev-red {
  font-family: Gordita;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0em;
  padding: 1rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: none;
  background-color: #123575 !important;
}

.ev-hero-btns .ev-red:hover {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0em;
  padding: 1rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: none;
  background-color: #111111 !important;
}



/* LatestEvents.css */
.custom-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 90%);
}
.events{
  background-color: #F5F5F5;
}