.head-items{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.3px;
}

.link-underline {
    position: relative;
    padding: 3px 0;
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}

.item{
    margin-top: 100px;
}


@keyframes fade {
    from {
      opacity: 1;
      visibility: hidden;
      transform: translateY(-60px);
    }
    to { 
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  }
  
  .navBot.fixed-top {
     animation: fade 500ms linear forwards;
  }

  
  .navBot.fixed-top {
    position: fixed ;
    top: 5rem ;
    width: 100%;
    max-height: 5rem !important;
    color: white;
    z-index: 9999;
  }