@media (min-width: 1023px) {
  .head-item:hover {
      --tw-text-opacity: 1;
      color: rgb(18 53 117 / var(--tw-text-opacity)) !important;
  }
  .n-main{
      padding-top: 0.5rem/* 8px */;
  }
}



.head-item{
  color: #696969;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
}
.search-field:focus {
outline: none;
border: none; /* Optional: Remove any border */
box-shadow: none; /* Optional: Remove any box shadow */
}


.search-form{
  color: #696969;
  font-family: Gordita;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.87;
  pointer-events: auto;
  box-sizing: inherit;
  border: none;
  outline: none;
}

.search-form label{
  color: #696969;
  font-family: Gordita;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.87;
  pointer-events: auto;
  box-sizing: inherit;
}

.screen-reader-text{
  color: #696969;
  font-family: Gordita;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.87;
  pointer-events: auto;
  box-sizing: inherit;
  position: absolute !important;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.search-field{
  font-family: Gordita;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  --drawer-width: 480px;
  --neg-drawer-width: calc(var(--drawer-width)*-1);
  --swiper-navigation-size: 44px;
  pointer-events: auto;
  margin: 0;
  font: inherit;
  line-height: normal;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-sizing: inherit;
  width: 20rem;
  padding-left: 2rem !important;
  outline: none !important;
  border-radius: 0;
  font-size: 17px;
  color: var(--unicamp-color-form-text);
  min-height: 48px;
  font-weight: 500;
  border: 0;
  background: none !important;
  border-bottom: 2px solid #ededed !important;
  border-color: inherit;
}

.search-field:focus {
  outline: none !important;
}

.search-submit{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  --drawer-width: 480px;
  --neg-drawer-width: calc(var(--drawer-width)*-1);
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  
  --page-title-display: block;
  
  pointer-events: auto;
  box-sizing: inherit;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin: 0;
  font: inherit;
  overflow: visible;
  appearance: button;
  line-height: 50px;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0em;
  text-transform: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 48px;
  padding: 0;
  border: 0 !important;
  background: none !important;
  color: var(--unicamp-color-primary);
  font-size: 20px;
  right: auto;
  left: 0;
  width: 32px;
}

.search-btn-text{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  --drawer-width: 480px;
  --neg-drawer-width: calc(var(--drawer-width)*-1);
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: Gordita;
  font-size: 15px;
  font-weight: 400;
  
  --page-title-display: block;
  
  pointer-events: auto;
  font: inherit;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0em;
  text-transform: none;
  color: var(--unicamp-color-primary);
  font-size: 20px;
  box-sizing: inherit;
  display: none;
}

.search-btn-icon{
  -webkit-text-size-adjust: 100%;
  --drawer-width: 480px;
  --neg-drawer-width: calc(var(--drawer-width)*-1);
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  
  --page-title-display: block;
  
  pointer-events: auto;
  font: inherit;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0em;
  text-transform: none;
  color: #123575;
  font-size: 20px;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 400;
  font-family: "Font Awesome 5 Pro" !important;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.search-icon-btn{
color: #123575;
}




@media (min-width: 768px) {
.first-item {
  --tw-space-x-reverse: 0;
  margin-left: calc(2rem*(1 - var(--tw-space-x-reverse)));
  margin-right: calc(2rem* var(--tw-space-x-reverse));
}}



@keyframes fade {
  from {
    opacity: 1;
    visibility: hidden;
    transform: translateY(-60px);
  }
  to { 
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

.navbar.fixed-top {
   animation: fade 500ms linear forwards;
}

/* .navbar{
  transform-origin: top center;
     animation: slideDown 300ms (num * 60ms) ease-in-out
}     
@keyframes slideDown {
0% { 
  opacity: 0;
  transform: translateY(-60px)
}

100% {
  opacity: 1;
  transform: translateY(0)
}
}
.navbar {
  position: relative;
  background-color: white;
  color: black;
  top: 0 !important;
  transition: all 0.9s ease-out ;
} */

.max-w-screen-xl-my {
  max-width: 1450px !important;
}

.navbar.fixed-top {
  position: fixed ;
  top: 0 ;
  width: 100%;
  max-height: 5rem !important;
  color: white;
  z-index: 9999;
}

.logo.fixed-top {
max-width: 14rem;
}

@media (max-width: 768px) {
  .logo{
    max-width: 10rem;
  }
  .n-main{
    height: fit-content !important;
  }
}

@media (max-width: 1023px) {
  .logo{
    max-width: 13rem;
  }
  .n-main{
    height: fit-content !important;
  }
}

.right-0-i{
 right: 0 !important;
 left: auto !important;
}

.side-logo{
  max-width: 10rem;
}

.blk{
color: #111 !important;
position: fixed;
z-index: 999;
}

.side-menu{
  background-image: url("/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.side-menu::before{
  background-color: rgba(0, 0, 3, 0.6);
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.side-head-menu{
  background: #fff;
  position: fixed;
  z-index: 888;
}

.p-r{
  position: relative;
}

.p-r ul li a{
  color: #fff;
}

.p-r ul li a:hover{
  background-color: rgb(124 124 124 / 69%);;
}
.p-r ul li a svg{
  color: #fff;
}

div[drawer-backdrop] {
  background: rgba(0, 0, 0, 0.7);
}

.drop-pages{
  font-size: 1rem;
  padding-left: .6rem;
}

.t-b{
  color: #111 !important;
}

.sm-lst{
  transform: translate3d(20px, -58px, 0px) !important;
}

.h-85vh{
  height: auto;
  overflow-x: scroll;
  margin-top: 5rem;
}

.c-w{
  color: #fff;
}