.mb-16{
    margin-bottom: 4rem; /* 64px */
}

.g-bg-red-700:hover{
    background-color: rgb(185 28 28) !important;
}

.px-7{
    padding-left: 1.75rem; /* 28px */
    padding-right: 1.75rem; /* 28px */
}

/* Gallery.css */

.gallery-img-container {
    position: relative;
  }
  
  .gallery-img-container img {
    transition: transform 0.3s;
  }
  
  .gallery-img-container:hover img {
    transform: scale(1.1);
  }
  
  .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e3342f; /* Red color */
    color: white;
    padding: 5px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .gallery-img-container:hover .delete-btn {
    opacity: 1;
  }
  