.news-update {
  background-color: #f5f5f5;
}

.nu-heading-divider {
  font-size: 0;
  line-height: 1;
  padding-bottom: 5px;
}

.nu-heading-divider:before {
  display: inline-block;
  content: "";
  width: 66px;
  height: 3px;
  background: #123575;
}
.nu-heading {
  font-weight: 700;
  font-family: "Butler", "Baskerville-Serial-ExtraBold";
  width: auto;
  margin: 0px 22px 5px 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.left-item {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  align-content: center;
  display: flex;
}

@media (min-width: 1200px) {
  .n-head {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.spacer {
  height: 78px;
}

.n-head {
  display: flex;
}

.nu-hero-btns {
  margin-left: auto;
  max-width: 214px;
  position: relative;
}

.nu-hero-btns .nu-red {
  font-family: Gordita;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0em;
  padding: 1rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: none;
  background-color: #123575 !important;
}

.nu-hero-btns .nu-red:hover {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0em;
  padding: 1rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: none;
  background-color: #111111 !important;
}

@media (max-width: 767px) {
  .right-item {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .nu-hero-btns {
    margin-left: 0 !important;
    margin-top: 15px;
  }
  .left-item {
    width: 100%;
  }
  .n-head {
    display: block;
    margin-top: -20px;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1023px) {
  .container.news {
    max-width: 100% !important;
  }
  .nu-ss-item-img {
    padding: 0 0 40px;
  }
  .nu-item-img
    img.transition.duration-900.ease-in-out.object-fill.hover\:scale-110 {
    height: auto !important;
  }
  figcaption.nu-sub-details.relative.max-w-90.text-lg.bottom-20 {
    bottom: 6rem !important;
  }
}



.news-update {
  max-height: 65rem;
}

@media (max-width: 1534px) {
  .nu-ss-item-img {
    padding: 0 0 40px;
    max-height: 15rem !important;
  }
  .nu-sub-item-img {
    padding: 0 0 40px;
    max-height: 15.5rem !important;
  }
  .nu-item-img {
    max-height: 93% !important;
  }
  .news-update {
    max-height: 60rem;
  }
}

@media (max-width: 1279px) {
  .nu-sub-item-img {
    padding: 0 0 40px;
  }
  .nu-ss-item-img {
    padding: 0 0 40px;
  }
  .nu-ss-details {
    max-width: 65% !important;
  }
  .nu-item-img {
    max-height: 91.5% !important;
  }

  .nu-item-img
    img.transition.duration-900.ease-in-out.object-cover.hover\:scale-110 {
    height: 35rem !important;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .nu-ss-item-img {
    padding: 0 0 40px;
    max-height: 18rem !important;
  }
  .news-update {
    max-height: 110rem;
  }
}

@media (max-width: 1023px) {
  .nu-sub-item-img {
    max-height: 88% !important;
  }
  .nu-item-img {
    max-height: 94% !important;
  }
  figcaption.nu-ss-details.relative.max-w-90.text-lg.bottom-32 {
    bottom: 5rem !important;
  }
}

@media (max-width: 768px) {
  .bottom-40 {
    bottom: 6rem !important;
  }
  .news-update {
    max-height: 85rem;
  }
}

@media (max-width: 767px) {
  .news-update {
    max-height: 105rem;
  }
  .nu-sub-details {
    max-width: 60% !important;
  }
  .nu-ss-details {
    max-width: 60% !important;
  }
  figure.nu-sub-main.relative.transition-all.duration-300.cursor-pointer {
    max-height: 20rem !important;
  }
  .nu-sub-item-img {
    max-height: 90% !important;
  }
  figure.nu-ss-main.relative.transition-all.duration-300.cursor-pointer {
    margin-top: 10px !important;
  }
  figcaption.nu-details.relative.max-w-90.text-lg.bottom-40 {
    bottom: 6rem;
  }
  figcaption.nu-ss-details.relative.max-w-90.text-lg.bottom-32 {
    bottom: 5rem;
  }
}

figure.nu-main.relative.transition-all.duration-300.cursor-pointer {
  height: 100%;
}

.right-item {
  width: 50%;
}

.nu-img-content {
  background: #fff;
}

.max-w-90 {
  max-width: 90%;
}

/* .nu-item-img {
  padding: 0 0 40px;
  max-height: 94%;
} */

@media (max-width: 768px) {
  .nu-m\:text-2xl {
    font-size: 1rem !important;
    line-height: 1.5rem /* 32px */ !important;
  }
  .nu-m-hide {
    display: none !important;
  }
  .nu-item-img {
    padding: 0 0 110px;
    max-height: 90% !important;
  }
  figure.nu-main.relative.transition-all.duration-300.cursor-pointer {
    max-height: 20rem !important;
  }
  figure.nu-ss-main.relative.transition-all.duration-300.cursor-pointer {
    max-height: 20rem !important;
  }
  .nu-ss-item-img {
    max-height: 90% !important;
  }
  .nu-details {
    max-width: 60% !important;
    background-color: #fff;
  }
  .nu-item-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media (min-width: 1023px) {
  .n-body {
    padding: 40px;
  }
}

@media (max-width: 1023px) {
  .n-body {
    padding-top: 40px !important;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  figure.nu-ss-main.relative.transition-all.duration-300.cursor-pointer {
    height: 110% !important;
  }
}

.meta-value {
  color: #696969;
}

.nu-item-heading {
  font-weight: 500;
  font-family: "Butler", "Baskerville-Serial-ExtraBold";
  width: auto;
  margin: -35px 0px 0px 0px;
  padding-top: 2.5rem;
  line-height: 2.5rem;
}

.nu-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 17px 30px 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
}

.nu-details {
  padding-bottom: 22px;
  margin: 0 25px;
  max-width: 100%;
}

.cat-shape {
  position: absolute;
  top: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #6cbd7e;
}

.nu-topic {
  padding-top: 1rem;
  padding-left: 2rem;
  width: 100%;
}

.nu-details {
  padding: 1rem 1.5rem;
  background: #fff;
}

.post-categories {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
  margin: 0 0 7px;
}

.post-categories a {
  position: relative;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 26px;
  margin: 0 18px 3px 0;
  color: #9b9b9b;
}

span.cat-name {
  padding-left: 1rem;
}

.post-meta {
  display: block;
  margin: 15px 0 0;
  font-size: 15px;
  overflow: hidden;
}

.inner {
  --gap: 20px;
  --separator: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 26px;
  margin: 0 calc(-1 * var(--gap));
}

.post-meta .inner > div {
  margin: 5px 0 0;
  padding: 0 var(--gap);
}

.post-meta a {
  display: block;
  font-weight: 500;
  color: #111;
}

.post-meta .inner > div + div {
  position: relative;
}

.post-meta .inner > div + div:before {
  content: "";
  position: absolute;
  top: 12px;
  left: calc(var(--separator) / -2);
  width: var(--separator);
  height: 1px;
  background: #ccc;
}

.nu-sub-m\:text-2xl {
  font-size: 1rem !important;
  line-height: 1.5rem /* 32px */ !important;
}

.nu-sub-item-img {
  padding: 0 0 40px;
  max-height: 285px;
}

.nu-sub-item-img img {
  height: 100%;
  width: 100%;
}

.nu-sub-item-heading {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.nu-sub-item-heading {
  font-weight: 500;
  font-family: "Butler", "Baskerville-Serial-ExtraBold";
  width: auto;
  margin: -35px 0px 0px 0px;
  padding-top: 2.5rem;
  line-height: 2.5rem;
}

.nu-sub-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 17px 30px 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
}

.nu-sub-details {
  padding-bottom: 22px;
  margin: 0 20px;
  max-width: 100%;
}

.nu-sub-topic {
  padding-top: 1rem;
  padding-left: 2rem;
  width: 100%;
}

.nu-sub-details {
  padding: 1rem 1.5rem;
  background: #fff;
}

.nu-ss-m\:text-2xl {
  font-size: 1rem !important;
  line-height: 1.5rem /* 32px */ !important;
}

.nu-ss-item-img {
  padding: 0 0 40px;
  max-height: 330px;
}

.nu-ss-item-img img {
  height: 100%;
  width: 100%;
}

.nu-ss-item-heading {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.nu-ss-item-heading {
  font-weight: 500;
  font-family: "Butler", "Baskerville-Serial-ExtraBold";
  width: auto;
  margin: -35px 0px 0px 0px;
  padding-top: 2.5rem;
  line-height: 2.5rem;
}

.nu-ss-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 17px 30px 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
}

.nu-ss-details {
  padding-bottom: 22px;
  margin: 0 20px;
  max-width: 46%;
}

.nu-ss-topic {
  padding-top: 1rem;
  padding-left: 2rem;
  width: 100%;
}

.nu-ss-details {
  padding: 1rem 1.5rem;
  background: #fff;
}

figure.nu-ss-main.relative.transition-all.duration-300.cursor-pointer {
  height: 100%;
  margin-top: -6rem;
}

figure.nu-sub-main.relative.transition-all.duration-300.cursor-pointer {
  height: 100%;
}


@media (max-width: 501px) {
  .nu-details, .nu-sub-details, .nu-ss-details {
    max-width: 100% !important;
    background-color: #fff;
  }
}